
* {
  box-sizing: border-box;
}

body {
  font-family: Candara;
  margin: 0;
}


.header {
  padding: 10px;
  text-align: center;
  background: #000;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;
  background-color: pink;
    font-family: Candara;
    font-size: 20px;
  padding: 20px;

}

.main {
  flex: 70%;
  background-color: black;
color: white;
  padding: 20px;
}


.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: white;
  color: grey;
}
