
* {
  box-sizing: border-box;
}

body {
  font-family: Candara;
  margin: 0;
}


.header {
  padding: 10px;
  text-align: center;
  background: #000;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}


.side {
  flex: 30%;
  background-color: pink;
    font-family: Candara;
    font-size: 20px;
  padding: 20px;

}

.main {
  flex: 70%;
  background-color: black;
color: white;
  padding: 20px;
}
